@import "./_cosmo.min.css";

main {
  min-height: 80vh;
}

.logo {
  width: 80px;
}

.rating i {
  color: orange;
}

h1 {
  margin: 0.8em 0 0.6em 0;
}

.custom-control {
  padding-left: 0;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 94%;
  }
}

.carousel {
  margin: 0 -4% 0 -4%;
  height: 30vh;
  max-height: 30vh;
  overflow: hidden;
}

.carousel-caption {
  bottom: auto;
  top: 10px;
}

.form-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.card.product-card {
  border: 0;
}
.table thead th {
  border: 0;
}
