@import "./_cosmo.min.css";
@import "~react-image-gallery/styles/css/image-gallery.css";

main {
  min-height: 80vh;
}

.logo {
  width: 70px;
}

.rating i {
  color: orange;
  font-size: 0.8em;
}

h1 {
  margin: 0.8em 0 0.6em 0;
}

.custom-control {
  padding-left: 0;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 94%;
  }
}

.carousel {
  margin: 0 -4% 0 -4%;
  height: 30vh;
  max-height: 30vh;
  overflow: hidden;
}
.carousel-caption {
  bottom: auto;
  top: 10px;
}

.form-control {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  background-color: #9e9e9e0f !important;
}

.product-card-block {
  padding-right: 8px;
  padding-left: 8px;
}
.card.product-card {
  border: 0;
}
.card-body {
  padding: 0 0 10px 0;
}
.card-title {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.table thead th {
  border: 0;
}

.color-picture {
  display: inline-block;
  flex: 1 1 auto;
}

.form-control {
  min-width: 85px;
}

.order-select {
  min-width: 120px;
}

.submenu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}

button.image-gallery-icon {
  filter: none;
}
.image-gallery-right-nav,
.image-gallery-left-nav {
  transform: translateY(-50%) scale(0.5);
  padding: 0;
  background-color: rgb(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 100px;
  width: 100px;
}
.image-gallery-fullscreen-button {
  padding: 3px;
  top: 0;
  left: 0;
  bottom: auto;
}

.list-group-item p {
  margin-bottom: 0.5rem;
}

/* .image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: 100%;
} */

.checkboxImg {
  margin-top: -25px;
}
