@import "./bootstrap.min.css";

main {
  min-height: 80vh;
}

.logo {
  width: 50px;
}

.rating i {
  color: orange;
}

h1 {
  margin: 0.8em 0 0.6em 0;
}

/* .text-danger {
  color: #cf1b1b !important;
}
.text-success {
  color: green !important;
} */

.custom-control {
  padding-left: 0;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 94%;
  }
}

.carousel {
  margin: 0 -4% 0 -4%;
  height: 30vh;
  max-height: 30vh;
  overflow: hidden;
}

.carousel-caption {
  bottom: auto;
  top: 10px;
}
